log:
  level: INFO
api:
  dashboard: {{ traefik_dashboard_enabled | lower }}
  insecure: {{ traefik_api_insecure | lower }}
providers:
  docker:
    exposedByDefault: false
    network: {{ traefik_network }}
entryPoints:
  web:
    address: {{ traefik_entrypoints.web.address | quote }}
  websecure:
    address: {{ traefik_entrypoints.websecure.address | quote }}
{% if traefik_use_letsencrypt %}
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_acme_email }}
      storage: {{ traefik_acme_file }}
      caServer: {{ traefik_acme_ca_server }}
{% if traefik_use_dns_challenge %}
      dnsChallenge:
        provider: {{ traefik_dns_provider }}
        delayBeforeCheck: 0
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53
{% else %}
      httpChallenge:
        entryPoint: web
{% endif %}
{% endif %}
