{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('10m') }}",
    "max-file": "{{ docker_log_max_file | default('3') }}"
  },
  "exec-opts": ["native.cgroupdriver=systemd"],
  "storage-driver": "overlay2",
  "live-restore": true,
  {% if docker_insecure_registries is defined %}
  "insecure-registries": {{ docker_insecure_registries | to_json }},
  {% endif %}
  {% if docker_registry_mirrors is defined %}
  "registry-mirrors": {{ docker_registry_mirrors | to_json }},
  {% endif %}
  "features": {"buildkit": {{ docker_buildkit_enabled | default(true) | ternary('true','false') }}}
}
