version: '3.9'
services:
  neo4j:
    image: {{ neo4j_image }}
    environment:
      - NEO4J_AUTH=neo4j/testpassword # CHANGE LATER
    volumes:
      - "{{ app_data_root }}/neo4j/data:/data"
      - "{{ app_data_root }}/neo4j/logs:/logs"
    networks:
      - {{ shared_network }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.neo4j.rule=Host(`{{ services.neo4j }}`)"
      - "traefik.http.routers.neo4j.entrypoints=websecure"
      - "traefik.http.services.neo4j.loadbalancer.server.port=7474"
networks:
  {{ shared_network }}:
    external: true
